%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-basket:before {
  content: "\e900";
}
._icon-car:before {
  content: "\e901";
}
._icon-compare:before {
  content: "\e902";
}
._icon-footer_later:before {
  content: "\e903";
}
._icon-footer_timer:before {
  content: "\e904";
}
._icon-Group:before {
  content: "\e905";
}
._icon-Group_selector:before {
  content: "\e906";
}
._icon-guarantee:before {
  content: "\e907";
}
._icon-logo:before {
  content: "\e908";
}
._icon-menu:before {
  content: "\e909";
}
._icon-ordering:before {
  content: "\e90a";
}
._icon-rubl:before {
  content: "\e90b";
}
._icon-search:before {
  content: "\e90c";
}
._icon-User:before {
  content: "\e90d";
}
._icon-_1:before {
  content: "\e90e";
}
._icon-_2:before {
  content: "\e90f";
}
._icon-_3 .path1:before {
  content: "\e910";
  color: none;
}
._icon-_3 .path2:before {
  content: "\e911";
  margin-left: -1.02734375em;
  color: none;
}
._icon-_3 .path3:before {
  content: "\e912";
  margin-left: -1.02734375em;
  color: none;
}
._icon-_3 .path4:before {
  content: "\e913";
  margin-left: -1.02734375em;
  
}
._icon-_3 .path5:before {
  content: "\e914";
  margin-left: -1.02734375em;
  
}
._icon-_:before {
  content: "\e915";
}
